*{margin: 0; padding: 0;}
 #topright_menu {min-width: 100px;}
 ul li {display: inline;}
 #top_menu ul li {display: inline;}
 #menu {position: absolute; top: 180px; width: 100%; }
 #hr {position: absolute; top: 220px; width: 100%;}
 #logomini {position: absolute; top: 230px; }
 #text {position: absolute; top: 240px; left: 120px;}
 #select {position: absolute; top: 280px; }
 #choosefile {position: absolute; top: 310px; }
 #selection {position: absolute; top: 280px; left: 170px;}
 #read {position: absolute; top: 280px; left: 320px;}
 #form {position: absolute; top: 340px; left: 120px;}